{% extends 'components/main.html' %}

{% block title %}
{{title}}
{% endblock %}

{% block content %}
<main>
   <div class="about-us">
        <h2>Nuestro Equipo</h2>

        <p>Este trabajo ha sido realizado bajo la supervisión del Ingeniero <strong>Daniel Gamarra Moreno</strong></p>

        <ul>
            <li>Atachao Vilchez, Cesar Augusto</li>
            <li>Aliaga Eulogio, Alain Brandisyer</li>
            <li>Castillo Rojas, Miguel Angel</li>
            <li>Diaz Damian, Luis Jeancarlo</li>
            <li>León Taza, Brayan Angel</li>
            <li>Tovar Payano, Diego Marc</li>
        </ul>
   </div>
</main>

{% endblock content %}

